.slot-machine__slider-slide {
  background-image: url(../../../image/slide_1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 65px;
}

.slot-machine__slider-slide:nth-of-type(2) {
  background-image: url(../../../image/slide_2.png);
 
}

.slot-machine__slider-slide:nth-of-type(3) {
  background-image: url(../../../image/slide_3.png);
}

.slot-machine__slider-slide:nth-of-type(4) {
  background-image: url(../../../image/slide_4.png);
}

.slot-machine__slider-slide:nth-of-type(5) {
  background-image: url(../../../image/slide_5.png);
}

.slot-machine__slider-slide:nth-of-type(6) {
  background-image: url(../../../image/slide_6.png);
}

.slot-machine__slider-slide:nth-of-type(7) {
  background-image: url(../../../image/slide_7.png);
}

.slot-machine__slider-slide:nth-of-type(8) {
  background-image: url(../../../image/slide_8.png);
}

.slot-machine__slider-slide:nth-of-type(9) {
  background-image: url(../../../image/slide_9.png);
}
